/* Reseteo de estilos para asegurar consistencia en todos los navegadores */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-grey: #24232C;
    --neon-green: #A4FFAF;
    --almost-white: #E6E5EA;
    --grey-text: #817D92;
    --dark-background: #1A1A1D;

    --red: #e62e1b;
    --orange: #e67e22;
    --yellow: #ffff00;
    --green: #32cd32;
}

body{
    background-color: var(--dark-background);
}

#main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.password-generada, .opciones{
    background-color: var(--dark-grey);
    width: 400px; 
    padding: 20px;
    margin-bottom: 15px;
}

.password-generada{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.copy-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.material-symbols-outlined {
    color: var(--neon-green); /* Usando tu variable */
    font-size: 24px;
    transition: 0.3s;
}

/* Efecto opcional: que brille al pasar el mouse */
.copy-btn:hover .material-symbols-outlined {
    filter: drop-shadow(0 0 5px var(--neon-green));
}

.longitud{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#length-title{
    color: var(--almost-white);
    font-size: 1.0rem;
}

#length-label{
    color: var(--neon-green);
    font-size: 2.0rem;
}


#length{
    width: 100%;
    appearance: none;
    background-color: var(--neon-green); 
    height: 5px;
    cursor: pointer;

}

#length::-webkit-slider-thumb{
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--almost-white);
    cursor: pointer;
    border-radius: 50%;
}

#password{
    background-color: transparent;
    border: none;
    color: var(--almost-white);
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.5rem;
    width: 90%;
}

h1, label, span, button{
    font-family: 'JetBrains Mono', monospace;
}

h1{
    color: var(--grey-text);
    font-size: 1rem;
    margin-bottom: 30px;
}


.checkbox-group{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--almost-white);
    background-color: transparent;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

input[type="checkbox"]:hover{
    border-color: var(--neon-green);
}

input[type="checkbox"]:checked{
    background-color: var(--neon-green);
    border-color: var(--neon-green);
}

input[type="checkbox"]:checked::after{
    content: '✔';
    position: absolute;
    color: var(--dark-grey);
    font-size: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label{
    color: var(--almost-white);
}


.strength-meter{
    background-color: var(--dark-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-top: 20px;

}

.strength-text{
    font-size: 0.9rem;
    color: var(--grey-text);
}

.barra-container{
    display: flex;
    gap: 5px;
}

.barra{
    width: 10px;
    height: 20px;
    border: 2px solid var(--almost-white);
}



.generate-btn{
    width: 400px;
    background-color: var(--neon-green);
    color: var(--dark-grey);
    padding: 15px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

